<form action="">
    <h2>{{vm.title}}</h2>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="user_mail" />
    </div>
    <button>Submit</button>

</form>